@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: "Poppins", sans-serif;
}

x-cloak {
    display: none;
}

.modal-box {
    /* width: 80% !important; */
    max-width: 45% !important;
}

.input {
    display: inline-flex;
    height: 35px !important;
    outline: none;
    border-color: rgb(187, 187, 187);
}

.select {
    /* display: block; */
    height: 35px !important;
    outline: none;
    border-color: rgb(187, 187, 187);
}

.fieldset-legend {
    font-weight: 500;
    font-size: 14px;
    padding: 0 0 3px 0;
}