@import url('../css/poppins.css');
@import 'tailwindcss';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px !important;
}

x-cloak {
    display: none;
}

.text-base-content {
    font-size: 12px !important;
}

.modal-box {
    /* width: 80% !important; */
    max-width: 45% !important;
}

.input {
    display: inline-flex;
    height: 30px !important;
    outline: none;
    border-color: rgb(187, 187, 187);
    font-size: 12px !important;
}

.select {
    /* display: block; */
    height: 30px !important;
    width: clamp(3rem, 20rem, 100%);
    outline: none;
    border-color: rgb(187, 187, 187);
    font-size: 12px !important;
}

.fieldset-legend {
    font-weight: 500;
    font-size: 12px;
    padding: 0 0 3px 0;
}

.font-extrabold {
    font-size: 17px;
}

.mary-table-pagination button {
    @apply cursor-pointer
}

/** Active button **/
.mary-table-pagination span[aria-current="page"]>span {
    @apply bg-emerald-600 text-base-100
}

.header {
    margin-bottom: 1px !important;
}

.breadcrumbs {
    /* background-color: purple !important; */
    margin: 16px 16px 0px 16px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 0px;
}

.breadcrumbs li {
    padding: 2px 8px;
    font-weight: 600;

}

.breadcrumbs li:not(:last-child)::after {
    content: " > ";
    margin: 0 6px;
    color: #999;
}

.breadcrumbs li:last-child {
    background-color: #D0FAE5;
    color: #009966;
    border-radius: 8px;
    border: solid #00e99c 2px;
}

/* DARK MODE - Select2 */
.dark .select2-container--default .select2-selection--single {
    background-color: #1D232A;
    /* gray-800 */
    border-color: rgb(181, 181, 181);
    /* gray-600 */
    color: white;
}

.dark .select2-container--default .select2-selection__rendered {
    color: white;
}

.dark .select2-container--default .select2-dropdown {
    background-color: #1D232A;
    color: white;
}

.dark .select2-container--default .select2-results__option {
    background-color: #1D232A;
    color: white;
}

.dark .select2-container--default .select2-results__option--highlighted {
    background-color: #374151;
    /* gray-700 */
}